
#canvas {}

body {
  margin: 0px;
  background-color: #505050;
  color: white;
}

img {
  vertical-align: middle;
}

a:link {
  color: white;
  text-decoration: underline;
}

a:hover {
  color: #b8e4fa;
}

.glyphicon-sm {
  font-size: 12px;
}

.glyphicon-lg {
  font-size: 18px;
}

.title-row {
  padding-top: 1em;
  font-size: 1.5em;
}

.button {
  cursor: pointer;
  background-color: #5A6668;
  color: white;
  border: none;
  padding: 0.5em;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 2px !important;
}

#save_link {
  text-decoration: none;
}

#save_link:hover, .button:hover, .selected {
  background-color: #4E5859 !important;
  color: white !important;
}

.key {
  margin-left: 3em;
  display:none;
  width:150px;
  z-index: 999999;
  position: absolute;
}

.key, .key table {
  background-color: grey;
  border: solid 1px white;
}

#iterations {
  width: 60px;
}

.plains, .brush, .forest, .rough, .desert, .hills, .mountains, .marsh, .water, .valley {
  width: 5em !important;
  text-align:center;
  padding: 15px 10px;
  color: black;
  border: solid 1px white;
}

.plains {background:#ddd254;}
.brush {background-color:#afa642;}
.forest {background-color:#338e29;}
.rough {background-color:#9e6429;}
.desert {background-color:#fcf68d;}
.hills {background-color:#2f774d;}
.mountains {background-color:#9e9f9e;}
.marsh {background-color:#a5d8a0;}
.water {background-color:#3399ff;}
.valley {background-color:#7e7f7e;}

.toolbar {
  display:block;
  margin: 10px;
}

.title {
  font-family: Helvetica Neue, Helvetica, sans-serif !important;
  font-size: 1em;
  padding-right: 10px;

  vertical-align: middle;
  line-height: 20px;
  height: 50px;
}

.key {
  border: none;
}

.key tr td {
  /*color: #4CAF50;*/
  padding: 10px;
  font-size: 16px;
}

.alert {
  width: 34.3em;
}
