
/* Index Menu */

.logo {
    vertical-align: middle;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    line-height: 20px;
    height: 40px;
    color: white;
}

#index-menu {
  display:none;
  position:fixed;
  top: 5em;
  line-height: 2em;
  background-color: black; /* #5A6668; */
  z-index: 9999;
  margin-left: 2em;
  padding: 1px;
}

.index-btn, .index-btn-bottom {
  background-color: #5A6668;
  color: white;
  padding: 0.5em 1em;
  cursor: pointer;
}

.index-btn {
  border-bottom: solid 1px black;
}

.index-btn:hover, .index-btn-bottom:hover {
  background-color: #4E5859;
  color: white;
}

.padding-below {
  padding-bottom: 1em;
}

#menu {
  padding-left: 15px;
}

.menuitem, .menuitem-style {
  background-color: #5A6668;
  color: white;
  margin-bottom:2px !important;
  margin-right:3px;
}

.menu-selected {
  color: #DF691A !important;
}

.menuitem:hover {
  color: #DF691A !important;
  opacity: 0.65;
  filter: alpha(opacity=65);
}

.link-menu-style {
  background-color: #5A6668;
  float: right !important;
  color: white;
}

.link-menu-style:hover {
  background-color: grey;
}

.menu-button {
  margin-left: -1px !important;

}
