body {
    font-family: Raleway;
    background-color: #2b3e50;
}

div.example {
  margin-top:15px;
  margin-left:15px;
  clear: both;
  overflow: auto;
}

div.splash {
  text-align: center;
  vertical-align: center;
  font-size: 20px;
}
